.new-user-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .new-user-content {
        padding: 30px;
        max-width: 1000px;
        margin: 0 auto;
        width: 100%;

        .new-user-header {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
        
            h1 {
                font-size: 1.8rem;
                font-weight: 600;
                color: #333333;
            }

            .top-header {
                display: flex;
                align-items: flex-start;

                .back-button {
                    padding: 8px 15px;
                    background-color: transparent;
                    color: #555555;
                    border: 1px solid #dddddd;
                    border-radius: 4px;
                    font-weight: 500;
                    cursor: pointer;
    
                    &:hover {
                        background-color: #f1f1f1;
                    }
                }
            }

            .bottom-header {
                display: flex;
                align-items: center;
            }
        }

        .new-user-form {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 30px;

            .form-section {
                margin-bottom: 30px;
                padding-bottom: 30px;
                border-bottom: 1px solid #eee;

                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: 0;
                }

                h2 {
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: #333333;
                    margin-bottom: 20px;
                }

                h3 {
                    font-size: 1.1rem;
                    font-weight: 500;
                    color: #444444;
                    margin-bottom: 15px;
                }

                .form-row {
                    display: flex;
                    gap: 20px;

                    .form-group {
                        flex: 1; //extend to fit width
                    }
                }

                .form-group {
                    margin-bottom: 20px;

                    label {
                        display: block;
                        margin-bottom: 5px;
                        font-weight: 500;
                        color: #555555;
                    }

                    input,
                    select {
                        width: 100%;
                        padding: 10px;
                        border: 1px solid #dddddd;
                        border-radius: 4px;
                        font-size: 0.9rem;
                    }
                }
            }
            .success-message {
                color: #019f01;
                font-weight: 500;
            }

            .form-actions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 1rem;

                .left-actions,
                .right-actions {
                    display: flex;
                    gap: 10px;
                }

                @media (max-width: 768px) {
                    flex-direction: column-reverse;
                    align-items: stretch;

                    .left-actions,
                    .right-actions {
                        width: 100%;
                        justify-content: center;
                    }
                } 

                button {
                    padding: 8px 15px;
                    border-radius: 4px;
                    font-weight: 500;
                    cursor: pointer;
        
                    @media (max-width: 768px) {
                        flex: 1;
                    }
                }

                .submit-button {
                    background-color: #e3f2fd;
                        color: #1976d2;
                        border: 1px solid #bbdefb;
    
                        &:hover {
                            background-color: #c5d2dc;
                        }
                }

                .submit-view-button {
                    background-color: #0066cc;
                    color: white;
                    border: none;
    
                    &:hover {
                        background-color: #0055aa;
                    }
                }

                .cancel-button {
                    background-color: #f0f0f0;
                        color: #555555;
                        border: 1px solid #dddddd;

                        &:hover {
                            background-color: #bebebe;
                        }
                }
            }

            
        }
    }
}

